
<section class="get-in-touch" id="contact">
  <h1 class="title text-primary">Dołącz do nas</h1>
  <form class="contact-form row">
    <div class="form-field col-lg-6">
      <input class="input-text js-input" id="name" type="text" required=""/>
      <label class="label text-secondary" for="name">Imię</label>
    </div>
    <div class="form-field col-lg-6">
      <input class="input-text js-input" id="email" type="email" required=""/>
      <label class="label text-secondary" for="email">E-mail</label>
    </div>
    <div class="form-field col-lg-12">
      <input class="btn btn-outline-primary submit-btn" type="submit" value="Dołącz"/>
    </div>
  </form>
</section>